<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Magic Prawns</title>

    <!-- Reset CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">

    <!-- Bootstrap core CSS -->
    <link href="/assets/ext/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts -->
    <link href="/assets/ext/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Crafty+Girls|Delius+Unicase|Faster+One|Freckle+Face|Nova+Oval|Ruslan+Display" rel="stylesheet">

    <!-- Custom styles -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

</head>
<body>

    <div class = "site-content-container">

        <header>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">Magic Prawns</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                  <ul class="nav navbar-nav">
                    <li {{#if allTabisActive}} class="active" {{/if}}><a href="/"><i class="fa fa-cutlery fa-lg" aria-hidden="true"></i>&nbsp; All</a></li>
                    <li {{#if featuredTabisActive}} class="active" {{/if}}><a href="/featured"><i class="fa fa-fire fa-lg" aria-hidden="true"></i>&nbsp; Featured</a></li>
                    {{#if user}}
                    <li {{> saved/activate-saved}} ><a href="/saved"><i class="fa fa-bookmark fa-lg" aria-hidden="true"></i>&nbsp; Saved</a></li>
                    {{/if}}
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                    {{#if user}}
                    <li><a href="#" id = "new" data-toggle = "modal" data-target="#createForm"><i class="fa fa-plus fa-lg" aria-hidden="true"></i>&nbsp; New</a></li>
                    <li><a href="/logout" id = "logout">Logout</a></li>
                    {{else}}
                    <li><a href="/login" id = "login">Login</a></li>
                    {{/if}}
                  </ul>
                </div><!--/.nav-collapse -->
              </div>
            </nav>
        </header>

        <main>
            <div class="masthead">
                <div class = "masthead-content-visible container">
                {{#if allTabisActive}}
                    <h1><strong>All Crumbs</strong></h1>
                    <h2>Explore photos, experiences, and more from previous crumbs</h2>
                 {{/if}}
                 {{#if featuredTabisActive}}
                    <h1><strong>Trending today!</strong></h1>

                 {{/if}}
                 {{#if savedTabisActive}}
                    <h1><strong>Saved Crumbs</strong></h1>
                    <h2>Explore photos, experiences, and more from previous crumbs</h2>
                 {{/if}}
                 {{#unless featuredTabisActive}}
                    <form class="navbar-form" role="search">
                        <i class="fa fa-search fa-lg" aria-hidden="true"></i>
                        <input type="text" class = "search-box" name="search" placeholder="Search for..">
                    </form>
                 {{/unless}}
                </div>
            </div>
            <div class = "block-items">
                <!--User grids -->
                {{{body}}}
            </div>
        </main>

    </div> <!--site-content-container-->


    <!-- Create New Crumb Modal -->
    <div class="modal fade" id = "createForm" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">New Crumb</h4>
          </div>
          <div class="modal-body">
          {{!-- Here we are looping through the errors from the apiRoutes and displaying them to the user using bootstrap alerts --}}
          {{#if errors}}
            {{#each errors}}
              <div class = "alert alert-danger">{{msg}}</div>
            {{/each}}
          {{/if}}
              <form id="newCrumb-form" method = "post" action = "/dish">
                  <div class="form-group">
                    <label for="Restaurant">Restaurant</label>
                    <input type="text" class="form-control" id="restaurant" name = "restaurant" placeholder="Find Restaurant" required>
                  </div>
                  <div class="form-group">
                    <label for="zipcode">Zipcode</label>
                    <input type="text" name="zipcode" title = "Enter a 5 digit US zipcode" pattern="[0-9]{5}" class="form-control" id="zipcode" placeholder="Near" required>
                  </div>
                  <div class="form-group">
                    <label for="dish">Dish Name</label>
                    <input type="text" class="form-control" id="dish_name" name="dish_name" placeholder="Dish or Drink" required>
                  </div>
                  <div class="form-group">
                    <label for="cuisine">Cuisine</label>
                    <input type="text" class="form-control" id="cuisine" name="cuisine" placeholder="Cuisine">
                  </div>
                  <div class="form-group">
                    <label for="dish_image">Image URL</label>
                    <input type="url" class="form-control" id="dish_image" name="dish_image" placeholder="Image URL" pattern="https?://.+" required>
                  </div>
                  <div class="form-group">
                    <label for="rating">Rating</label>
                      <select id = "rating" name="rating" class="form-control" required>
                          <option value="1">1 NAY!</option>
                          <option value="2">2</option>
                          <option value = "3">3 MEH!</option>
                          <option value = "4">4</option>
                          <option value = "5">5 YAY!</option>
                    </select>
                </div>
                
                <label for="description">Description</label>
                 <textarea class="form-control" rows="3" name="description" id="description"></textarea>
        
                  <button type="submit" class="btn btn-primary">SAVE</button>
                </form>
          </div><!-- /.modal-body-->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted"><span class="copyright">Copyright &copy; MagicPrawns 2017</span></p>
                </div>
            </div>
        </div>
    </footer> <!-- ./footer-->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/ext/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom Script-->
    <script type="text/javascript" src="/assets/javascript/app.js"></script>
</body>
</html>