<p>Index will go here</p>
<p>you searched for: {{searchTerm}}</p>
{{#unless savedTabIsActive}}
	{{#each Dish}}
		<li>{{this.dish_name}}</li>
	{{/each}}
{{/unless}}	
<p>
{{> saved/activate-saved}}
</p>
