<h4 class = "text-center useraccount">Login with your email address</h4>

<div class = "row">
	<div class = "col-md-offset-4 col-md-4 well">
		<form method = "post" class= "login-form" action = "/login">
			<div class="form-group">
		        <label for="email">Email address</label>
		        <input type="email" class="form-control" name = "useremail" id="useremail" placeholder="Email">
		    </div>
		    <div class="form-group">
		        <label for="password">Password</label>
		        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
		    </div>

		     <button type="submit" class="btn btn-primary">LOGIN</button>

		</form>
	</div><!-- ./col-md -->
</div> <!-- ./row -->
