<h4 class = "text-center useraccount">Sign Up with your email address</h4>

{{!-- Here we are looping through the errors from the apiRoutes and displaying them to the user using bootstrap alerts --}}
{{#if errors}}
	{{#each errors}}
		<div class = "alert alert-danger">{{msg}}</div>
	{{/each}}
{{/if}}

<div class = "row">
	<div class = "col-md-offset-4 col-md-4 well">
		<form class= "signup-form" method = "post" action = "/signup">
			<div class="form-group">
		        <label for="email">Email address</label>
		        <input type="email" class="form-control" name = "useremail" id="useremail" placeholder="Email">
		    </div>
		    <div class="form-group">
		        <label for="password">Password</label>
		        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
		    </div>

		     <button type="submit" class="btn btn-primary">SIGN UP</button>

		</form>
	</div><!-- ./col-md -->
</div> <!-- ./row -->
