/* Site Variables */
/* * {
	box-sizing: border-box;

	for debugging
	outline-style: dotted;
	outline-color: orange;
} */
/* line 4, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_content.scss */
.masthead {
  text-align: center;
  color: #fff;
  background-color: #111111;
  background: url(../images/foodplate.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 35px;
  font-family: "Helvetica Neue", "Arial", Helvetica, Arial, sans-serif;
}

/* line 19, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_content.scss */
.masthead .masthead-content-visible h2 {
  letter-spacing: 1px;
}

/* line 22, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_content.scss */
.masthead .masthead-content-visible h1 {
  font-weight: 400;
}

@media (min-width: 768px) {
  /* line 31, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_content.scss */
  .masthead .masthead-content-visible h2 {
    padding: 0 200px;
  }
}

/* line 40, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_content.scss */
.rounded-btn {
  text-transform: uppercase;
  border-radius: 40px;
  padding: 20px;
  font-size: 18px;
  background-color: #ffb14b;
}

/* line 1, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.header {
  top: 0;
  left: 0;
  color: #fff;
  height: 100px;
  padding: 0 42px;
}

/* line 8, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.navbar {
  margin-bottom: 0px;
  border-radius: 0px;
  position: relative;
  height: 100px;
  background-color: #100c0a;
  color: #fff;
  line-height: 99px;
}

/* line 17, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.navbar a.navbar-brand {
  line-height: 63px;
  color: #fff;
  font-family: 'Nova Oval', cursive;
  font-size: 27px;
}

/* line 24, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.navbar a.navbar-brand:hover, .navbar a.navbar-brand:focus {
  color: #4bff78;
}

/* line 30, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.navbar .navbar-nav li a {
  text-transform: uppercase;
  line-height: 63px;
  color: #fff;
}

/* line 35, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.navbar .navbar-nav li a:hover, .navbar .navbar-nav li a:focus {
  color: #4bff78;
}

/* line 42, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.brand-head {
  margin: 0;
  display: inline-block;
}

/* line 46, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.navbar-brand {
  display: inline-block;
}

/* line 48, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.navbar-brand img {
  display: inline-block;
  width: 30px;
}

/* line 54, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.navbar-default {
  border: none;
}

/* line 59, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
#navbar.navbar-collapse {
  background-color: #111111;
}

/* line 65, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.fa-cutlery, .fa-plus {
  color: #4bd2ff;
}

/* line 68, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.fa-fire {
  color: #ffb14b;
}

/* line 71, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.fa-bookmark {
  color: #ff574b;
}

@media (min-width: 768px) {
  /* line 77, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  /* line 83, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
  .navbar .navbar-collapse {
    text-align: center;
  }
}

/* line 90, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_header.scss */
.navbar a {
  color: #fff;
}

/* line 1, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_footer.scss */
footer {
  background-color: #4bd2ff;
  text-align: center;
  height: 45px;
  margin-top: 40px;
}

/* line 5, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_footer.scss */
footer p {
  margin-top: 10px;
}

/* line 3, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_forms.scss */
.search-box {
  margin-top: 20px;
  width: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  color: #100c0a;
  padding: 12px;
  /* -webkit-transition: width 0.4s ease-in-out;
	    transition: width 0.4s ease-in-out; */
}

/* input[type=text]:focus {
    width: 100%;
}  */
/* line 23, C:/Users/JinZ/Documents/Coding Bootcamp/Coding Bootcamp/week_16/project2/magic-prawns/public/assets/scss/_forms.scss */
#newCrumb-form .btn-primary {
  margin-top: 10px;
}

/*# sourceMappingURL=../css/style.map */
