
//masthead styles

.masthead{
	text-align: center;
	color: $white;
	background-color: $base-grey;
	background: url(../images/foodplate.jpg);
	background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
	padding: 35px;;
	font-family: $sans-serif-font-family;

	.masthead-content-visible{
		h2{
			letter-spacing: 1px;
		}
		h1{
			font-weight: 400;
		}
	}
}

@media (min-width: 768px) {
	.masthead{
		.masthead-content-visible{
			h2{
				padding: 0 200px;
			}
		}
	}

}

//Button styles
.rounded-btn{
	text-transform: uppercase;
	border-radius: 30px;
}
.get-magic{
	padding: 20px;
	font-size: $rem-base;
	background-color: $brand-secondary;
}
.useraccount-btn{
	padding: 10px 60px;
	margin-top: 20px;
	font-weight: bold;
	background-color: $btn-color;
}

.login-container, .signup-container{
	font-family: 'Nunito', sans-serif;
	font-size: $rem-base;

	a{
		color: $btn-color;
	}
}


