
//masthead styles

.masthead{
	text-align: center;
	background-color: $brand-secondary;
	background-image: url(../images/masthead_bg1.jpg);
	/* background-blend-mode: hard-light; */
	background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
	padding: 35px;;
	font-family: $sans-serif-font-family;

	.masthead-content-visible{
		color: $white;
		h2{
			letter-spacing: 1px;
		}
		h1{
			font-weight: 400;
		}
	}
}

@media (min-width: 768px) {
	.masthead{
		.masthead-content-visible{
			h2{
				padding: 0 200px;
			}
		}
	}

}

//Button styles
.rounded-btn{
	text-transform: uppercase;
	border-radius: 30px;
}
.get-magic{
	padding: 15px;
	font-size: $rem-base;
	background-color: $btn-color;
	font-weight: bold;
}
.useraccount-btn{
	padding: 10px 60px;
	margin-top: 20px;
	font-weight: bold;
	background-color: $btn-color;
}

.login-container, .signup-container{
	font-family: 'Nunito', sans-serif;
	font-size: $rem-base;

	a{
		color: $btn-color;
	}
}

/* Star rating */
.star-ratings-css {
  unicode-bidi: bidi-override;
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 100px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
  
  .star-ratings-css-top {
    color: #e7711b;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
}

