.header{
	top: 0;
	left:0;
	color: $white;
	height: 100px;
	padding: 0 42px;
}
.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
	position: relative;
	height: 100px;
	background-color: $base-black;
	color: $white;
	//center align nav links vertically after increasing height of bootstrap navbar
	line-height: $rem-base * 5.5;
	.navbar-nav{
		li{
			a{
				text-transform: uppercase;
				line-height: $rem-base * 3.5;
			}
		}
	}
}

.navbar-default{
	border: none;
}

//Center align the nav links
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}