.header{
	top: 0;
	left:0;
	color: $white;
	height: 100px;
	padding: 0 42px;
}
.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
	position: relative;
	height: 100px;
	background-color: $base-black;
	color: $white;
	//center align nav links vertically after increasing height of bootstrap navbar
	line-height: $rem-base * 5.5;
	a.navbar-brand{
			line-height: $rem-base * 3.5;
			color: $white;
			font-family: 'Nova Oval', cursive;
			font-size: $rem-base * 1.5;

	}
	a.navbar-brand:hover, a.navbar-brand:focus{
				color: $brand-four;
	}
			
	.navbar-nav{
		li{
			a{
				text-transform: uppercase;
				line-height: $rem-base * 3.5;
				color: $white;
			}
			a:hover, a:focus{
				color: $brand-four;
			}
		}
	}
}

.navbar-default{
	border: none;
}

//toggled navbar bg -color
#navbar.navbar-collapse{
	background-color: $base-grey;
}


//icon styles
.fa-cutlery, .fa-plus{
	color: $brand-primary;
}
.fa-fire{
	color: $brand-secondary;
}
.fa-bookmark{
	color: $brand-tertiary;
}

//Center align the nav links
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

//Override font color of all links in navbar
.navbar{
	a{
		color: $white;
	}
}