/* Site Variables */

// This is the base font size and a variable in which all other sizes should be based on.

// rem is used instead of em because rem always bases itself off the page declared font-size
// em bases itself off of the font-size of the element (it uses inhertiance and thus is harder to predict)
$rem-base:  18px;

// Branding Colors

$brand-primary: #4bd2ff;
$brand-secondary: #ffb14b;
$brand-tertiary: #ff574b;
$brand-four: #4bff78;


$white: #fff;
$base-grey: #111111;
$base-black: #100c0a;
$btn-color: #1ed760;

/* * {
	box-sizing: border-box;

	outline-style: dotted;
	outline-color: orange;
}  */

// Typography

$sans-serif-font-family: 'Helvetica Neue','Arial', Helvetica, Arial, sans-serif;
